fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
pandas
openpyxl
python-multipart
numpy
chardet
fuzzywuzzy
rapidfuzz
pypdf
pdfplumber
sentence-transformers
groq
httpx
python-jose[cryptography]==3.3.0
pytest
